apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argo-cd
resources:
  - https://github.com/argoproj/argo-cd//manifests/crds/?ref=v3.3.2
  - https://raw.githubusercontent.com/argoproj/argo-cd/refs/tags/v3.3.2/manifests/namespace-install.yaml

patches:
- patch: |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: argocd-cm
    data:
      cluster.inClusterEnabled: "false"
